ul {
    list-style-type: none;
    margin: 0;

    padding: 0;
    padding-top: 5px;

    overflow: hidden;
    background-color: #59c3ea;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-top:5px;
    padding-bottom: 30px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ffffff;
    color : #59c3ea;
}